<!DOCTYPE html>
<html th:with="idioma=${#locale.language}" th:lang="${idioma}"
	class="no-js" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{site}">
<head>
<title>Fatec MC - Passe Escolar</title>
<link rel="stylesheet" th:href="@{/styles/custom/banner_effect.css}" />
</head>
<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="page-title clearfix">
				<div class="row">
					<div class="col-md-12">
						<h6>
							<a th:href="@{/}">Principal</a>
						</h6>
						<h6>
							<span class="page-active">Área do Aluno</span> <span
								class="page-active">PASSE ESCOLAR</span>
						</h6>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- Here begin Main Content -->
				<div class="col-md-8">
					<div class="blog-post-container">
						<div class="blog-post-image">
							<div class="banner-effect">
								<div class="banner-image" id="banner-image-a">
									<img th:src="@{/images/banner_passe_escolar.jpg}"
										alt="As pernas de algumas pessoas no transporte público" />
								</div>
								<div class="banner-image" id="banner-image-b">
									<img th:src="@{/images/banner_passe_escolar.jpg}"
										alt="As pernas de algumas pessoas no transporte público" />
								</div>
								<div class="banner-image" id="banner-image-c">
									<img th:src="@{/images/banner_passe_escolar.jpg}"
										alt="As pernas de algumas pessoas no transporte público" />
								</div>
							</div>
						</div>
						<!-- /.blog-post-image -->
						<div class="blog-post-inner">
							<h3 class="blog-post-title">Passe Escolar</h3>
							<h4 id="oQueE">O que é o passe escolar?</h4>
							<p>O passe escolar é um benefício oferecido aos alunos e
								professores para que possam se locomover de sua residência à
								instituição de ensino.</p>
							<h4 id="resideEmMogi">Você reside em Mogi das Cruzes?</h4>
							<p>
								Se você reside em Mogi das Cruzes, o cartão <strong>SIM
									Escolar</strong> é destinado a você. De acordo com a legislação vigente,
								os alunos e professores que residem a mais de 1KM de distância
								da Fatec têm direito a 57,89% de desconto no valor da tarifa das
								linhas municipais de transporte. Para a obtenção do cartão, você
								deve retirar o formulário (MogiPasses) no Terminal Estudantes,
								no Terminal Central, ou via site (<a
									href="http://www.mogipasses.com.br/cartoes_escolar.asp?s=21"
									target="_blank">clique aqui e preencha os dados necessários</a>)
								e entregue na Secretaria Acadêmica para ser assinado e
								carimbado. Para maiores informações, <a
									href="http://www.mogidascruzes.sp.gov.br/servico/transporte-e-transito/cartao-sim-escolar"
									target="_blank">clique aqui</a>.
							</p>
							<h4 id="naoResideEmMogi">Você reside fora de Mogi das
								Cruzes?</h4>
							<p>
								Caso você resida fora de Mogi das Cruzes, você tem direito a
								pedir o <strong>Bom Escolar</strong> - para linhas de ônibus
								intermunicipais - e <strong>Bilhete Único Estudante</strong> -
								para trem e metrô. Para obter o Bom Escolar, solicite à
								Secretaria Acadêmica que inclua seu nome, CPF e RG no sistema da
								EMTU. Em seguida, requisite o seu cartão por meio do <a
									href="http://www.emtu.sp.gov.br/passe/index.htm?regiao=256"
									target="_blank">site da EMTU</a>. Para obtenção do Bilhete
								Único Estudante, acesse o site <a
									href="http://estudante.sptrans.com.br/" target="_blank"> da
									SPTrans</a>.<br /> Para as demais empresas, como Pássaro Marrom,
								Viação Jacareí, e outras, solicitamos consultar diretamente a
								empresa.
							</p>
						</div>
					</div>
					<!-- /.blog-post-container -->
				</div>
				<!-- /.col-md-8 -->

				<!-- Here begin Sidebar -->
				<div class="col-md-4">

					<div class="widget-main">
						<div class="widget-main-title">
							<h4 class="widget-title">Acesso Rápido</h4>
						</div>
						<div class="widget-inner">
							<div class="blog-categories">
								<div class="row">
									<ul class="col-md-12">
										<li><a href="#oQueE">O que é passe escolar?</a></li>
										<li><a href="#resideEmMogi">Instruções para
												residentes de Mogi</a></li>
										<li><a href="#naoResideEmMogi">Instruções para
												residentes de outras cidades</a></li>
									</ul>
								</div>
							</div>
							<!-- /.blog-categories -->
						</div>
						<!-- /.widget-inner -->
					</div>
					<!-- /.widget-main -->

				</div>
				<!-- /.col-md-4 -->

			</div>
			<!-- /.row -->
		</div>
	</th:block>
	<th:block layout:fragment="scripts">
		<script type="text/javascript"
			th:src="@{/plugins/tweenmax/tweenmax.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/scripts/custom/banner_effect.js}"></script>
	</th:block>
</body>
</html>