/*
Version 2.0
[Table of contents]
-------------------------------------------------------------------------
. General
-------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. General
*/
body,
html {
  color: #cccccc;
}
#wrapper,
body,
html {
  background-color: #333333;
}
a {
  color: #E0162E;
}
a:hover,
a:active,
a:focus {
  color: #AD001C;
}
select,
input {
  color: #1b1b1b;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Fixed Navbar
*/
.fixed-navbar {
  background-color: #1b1b1b;
}
.fixed-navbar .ico-item {
  color: #ffffff;
}
.menu-mobile-button {
  background-color: #484848;
  color: #ffffff;
}
.page-title {
  color: #ffffff;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Header
*/
.header .logo {
  background-color: #1b1b1b;
  color: #ffffff;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Box Content
*/
.box-content {
  background-color: #292929;
}
.box-content .dropdown.js__drop_down .dropdown-icon {
  color: #C5C5C5;
}
.box-content .dropdown.js__drop_down .dropdown-icon:hover {
  color: #ffffff;
}
.box-content .dropdown.js__drop_down .sub-menu {
  background: #484848;
  -webkit-box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.06), 0 1px 0 0 rgba(255, 255, 255, 0.02);
  -moz-box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.06), 0 1px 0 0 rgba(255, 255, 255, 0.02);
  box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.06), 0 1px 0 0 rgba(255, 255, 255, 0.02);
}
.box-content .dropdown.js__drop_down .sub-menu a {
  color: #cccccc;
}
.box-content .dropdown.js__drop_down .sub-menu a:hover {
  color: #E0162E;
}
.box-content .dropdown.js__drop_down .sub-menu .split {
  background: #C5C5C5;
}
.box-content .dropdown.js__drop_down.active .dropdown-icon {
  color: #ffffff;
}
.box-content.card .box-title {
  background: #484848;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Main Menu
*/
.main-menu {
  background: #292929;
}
.user .name a {
  color: #cccccc;
}
.user .name a:hover {
  color: #E0162E;
}
.user .control-list {
  background: #484848;
  -webkit-box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.06), 0 1px 0 0 rgba(255, 255, 255, 0.02);
  -moz-box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.06), 0 1px 0 0 rgba(255, 255, 255, 0.02);
  box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.06), 0 1px 0 0 rgba(255, 255, 255, 0.02);
}
.user .control-list a {
  color: #ffffff;
}
.user .control-list a:hover {
  color: #E0162E;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Navigation
*/
.navigation .title {
  background: #484848;
  color: #cccccc;
}
.navigation .menu > li.active > a {
  background: #1b1b1b;
  color: #ffffff;
}
.navigation .menu > li.active > a i,
.navigation .menu > li.active > a .menu-arrow {
  color: #ffffff;
}
.navigation .menu > li.current > a {
  background: #1b1b1b;
  color: #ffffff;
}
.navigation .menu > li.current > a i,
.navigation .menu > li.current > a .menu-arrow {
  color: #ffffff;
}
.navigation .menu > li.current .current > a {
  color: #ffffff;
}
.navigation .menu a {
  color: #C5C5C5;
}
.navigation .menu a i {
  color: #C5C5C5;
}
.navigation .menu a:hover {
  color: #ffffff;
}
.navigation .menu a:hover .menu-arrow,
.navigation .menu a:hover i {
  color: #ffffff;
}
.navigation .menu a .waves-ripple {
  background: -webkit-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -o-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -moz-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Menu Active
*/
@media (min-width: 800px) {
  .menu-active .header .logo {
    color: #1b1b1b;
  }
  .menu-active .header .logo:before {
    background: #1b1b1b;
  }
  .menu-active .header .logo:after {
    background: #ffffff;
  }
  .menu-active .navigation .menu > li:hover > a {
    background: #1b1b1b;
  }
  .menu-active .navigation .menu .sub-menu a {
    background: #484848;
  }
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Footer
*/
.footer {
  color: #cccccc;
}
.footer a {
  color: #cccccc;
}
.footer a:hover {
  color: #E0162E;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Boostrap
*/
.btn {
  color: #1b1b1b;
}
.btn.btn-bordered {
  background-color: transparent;
  color: #ffffff;
}
.btn.btn-bordered:hover,
.btn.btn-bordered:active,
.btn.btn-bordered:focus {
  color: #1b1b1b;
}
.btn.btn-bordered.btn-primary:hover,
.btn.btn-bordered.btn-success:hover,
.btn.btn-bordered.btn-info:hover,
.btn.btn-bordered.btn-warning:hover,
.btn.btn-bordered.btn-danger:hover,
.btn.btn-bordered.btn-violet:hover,
.btn.btn-bordered.btn-orange:hover,
.btn.btn-bordered.btn-primary:active,
.btn.btn-bordered.btn-success:active,
.btn.btn-bordered.btn-info:active,
.btn.btn-bordered.btn-warning:active,
.btn.btn-bordered.btn-danger:active,
.btn.btn-bordered.btn-violet:active,
.btn.btn-bordered.btn-orange:active,
.btn.btn-bordered.btn-primary:focus,
.btn.btn-bordered.btn-success:focus,
.btn.btn-bordered.btn-info:focus,
.btn.btn-bordered.btn-warning:focus,
.btn.btn-bordered.btn-danger:focus,
.btn.btn-bordered.btn-violet:focus,
.btn.btn-bordered.btn-orange:focus {
  color: #ffffff;
}
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-violet,
.btn-orange {
  color: #ffffff;
}
.list-group {
  color: #1b1b1b;
}
.modal-dialog {
  color: #1b1b1b;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #484848;
}
.table-hover > tbody > tr:hover {
  background-color: #484848;
}
.table > thead > tr > th {
  border-bottom-color: #C5C5C5;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Calendar
*/
.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border-color: #333333;
}
.fc th.fc-widget-header {
  background: #333333;
}
.fc .fc-basic-view .fc-day-top .fc-day-number {
  color: #C5C5C5;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Chart
*/
.ct-grids .ct-grid {
  stroke: rgba(255, 255, 255, 0.5);
}
.ct-label {
  fill: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.4);
}
.highcharts-title tspan {
  fill: #ffffff;
  color: #ffffff;
}
.highcharts-legend-item text {
  fill: #ffffff !important;
  color: #ffffff !important;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Contact List
*/
.box-contact {
  background: #292929;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Mail
*/
.box {
  color: #1b1b1b;
}
.mailbox-messages .table > tbody > tr:hover {
  color: #ffffff;
  background: #484848 !important;
}
.mailbox-messages .table > tbody > tr:hover > td,
.mailbox-messages .table > tbody > tr:hover a,
.mailbox-messages .table > tbody > tr:hover .mailbox-subject-title {
  color: #ffffff;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Notice Popup
*/
.notice-popup {
  background-color: #484848;
}
.notice-popup .popup-title {
  color: #ffffff;
  border-bottom-color: #333333;
}
.notice-popup .notice-read-more {
  color: #ffffff;
}
.notice-popup .notice-read-more:hover {
  color: #E0162E;
}
.notice-list li {
  border-bottom-color: #333333;
}
.notice-list .name {
  color: #ffffff;
}
.notice-list .name:hover {
  color: #E0162E;
}
.notice-list .desc {
  color: #C5C5C5;
}
.notice-list .time {
  color: #C5C5C5;
}
.notice-list a:hover {
  background: #1b1b1b;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Ranger Slider
*/
.noui-connect .connect {
  background-color: #E0162E;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border-color: #AD001C;
  background-color: #E0162E;
  outline: none;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Percent Circle
*/
.c100.blue {
  background-color: rgba(255, 255, 255, 0.4);
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Table
*/
.dataTables_wrapper .dataTable tbody {
  color: #1b1b1b;
}
.dataTables_wrapper .dataTable .group {
  background: #E0162E !important;
}
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
  color: #ffffff;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Timeline
*/
.cd-timeline-content {
  background: #292929;
  box-shadow: 0 3px 0 #484848;
}
.cd-timeline-content:before {
  border-left-color: #292929;
}
.cd-timeline-content h2 {
  color: #ffffff;
}
.cd-timeline-content .cd-read-more {
  background: #E0162E;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content::before {
  border-right-color: #292929;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. User Info
*/
.user-info a {
  color: #E0162E;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Widget
*/
.activity-link {
  color: #ffffff;
}
.activity-link:hover {
  color: #E0162E;
}
.activity-list {
  color: #C5C5C5;
}
.review-item .top .name {
  color: #ffffff;
}
.widget-stat .counter {
  color: #C5C5C5;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Other
*/
.fa-hover .ico,
.fa-hover .fa {
  color: #ffffff;
}
.fa-hover:hover {
  background-color: #E0162E;
}
.select2-container {
  color: #1b1b1b;
}
.isotope-filter .filter-controls a {
  color: #C5C5C5;
}
.isotope-filter .filter-controls a:hover,
.isotope-filter .filter-controls a.js__active {
  color: #cccccc;
}
.popover-content {
  color: #1b1b1b;
}
.task-item .title {
  color: #cccccc;
}
.task-item .title:hover {
  color: #E0162E;
}
.treeview .list-group-item:hover {
  color: #ffffff;
}
/*---------------------------------------------------------------------*/
